.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #042c0ed1;
    z-index: 1001;
  }
  
  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
  }
   
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }