.work-experience-section {
    &__wrapper {
        display: flex;
        gap: 20px;
    }

    &__title {
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: 60px;
        text-align: center;
        margin-bottom: 94px;
        color: #fb6d3a;
    }

    &__card {
        position: relative;
        width: calc((100% - 20px) / 2);

        &::before {
            content: "";
            display: block;
            width: 50%;
            height: 80px;
            border-radius: 40px 40px 0 0;
            background: #042c0e;
            position: absolute;
            left: 25%;
            top: -80px;
        }

        &::after {
            content: "";
            display: block;
            width: 40%;
            height: 40px;
            border-radius: 15px 15px 0 0;
            background: #fff;
            position: absolute;
            left: 30%;
            top: -40px;
        }
        &-wrap {
            border: 3px solid #042c0e;
            border-radius: 20px 20px 0 0;
            padding: 24px 10px;
        }

        &-title {
            text-align: center;
            font-weight: 700;
            font-size: 28px;

            &:nth-child(2) {
                margin-top: 8px;
                color: #fb6d3a;
            }
        }

        &-time {
            color: #fff;
            background: #042c0e;
            text-align: center;
            position: relative;
            z-index: 1;

            & p {
                transform: translateY(15px);
            }

            &::before {
                content: "";
                display: block;
                width: 60%;
                height: 30px;
                border-radius: 0 0 20px 20px;
                background: #042c0e;
                position: absolute;
                left: 20%;
                bottom: -30px;
                box-shadow: 0 2px 10px 2px #042c0e;
            }
        }

        &-desc {
            padding: 40px 24px 24px 24px;
            border: 3px solid #042c0e;
            border-radius: 0 0 20px 20px;
            text-align: justify;
        }

    }
}

@media screen and (max-width: 1200px) {
    .work-experience-section {
        &__wrapper {
            flex-direction: column;
            gap: 100px;
            align-items: center;
        }

        &__card {
            width: 80%;
        }
    }
}

@media screen and (max-width: 768px) {
    .work-experience-section {
        &__card {
            width: 100%;

            &-time {
                &:before {
                    width: 96%;
                    left: 2%;
                }
            }

            &-title {
                font-size: 22px;
            }

            &-desc {
                padding: 40px 16px 16px;
            }

            &-wrap {
                padding: 16px;
            }
        }

        &__title {
            font-size: 40px;
        }
    }
}