<section class="about-me-section section" id="about">
    <div class="about-me-section__wrapper">
        <div class="about-me-section__container container">
            <img class="about-me-section__photo animate__animated animate__fadeInLeft animate__delay-1s" width="500" src="./images/my_photo.png" alt="My photo">
            <div class="about-me-section__info">
                <h1 class="about-me-section__name lng-name animate__animated animate__fadeInDown animate__delay-1s">Yuliia Koliesnik</h1>
                <h2 class="about-me-section__profession lng-profession animate__animated animate__fadeIn animate__delay-1s">Frontend Developer</h2>
                <p class="about-me-section__desc lng-about-me about-me-desc animate__animated animate__fadeInUp animate__delay-1s">A responsible, hardworking, creative, detail-oriented developer and passionate person who strives for pursuing a bright career in IT and seeks to develop in new areas. During my work in this field, I have been accumulating knowledge of HTML, CSS, JavaScript, React and improving my skills. Speaking of my principles and beliefs, in my opinion frontend developer is an artist who creates with code, that is why I set up websites in such a way as to admire the result of my work. Furthermore, I am quite a creative person, so in my free time, in addition to improving my skills, I draw portraits.</p>
            </div>
        </div>
    </div>
</section>
