<section class="education-section section" id="education">
    <div class="education-section__container container">
        <h2 class="education-section__title lng-education main-content-title" data-scroll>Education</h2>
        <ul class="education-section__list">
            <li class="education-section__card" data-scroll>
                <h3 class="education-section__card-title lng-studyless">English - Upper-Intermediate</h3>
                <h4 class="education-section__card-school">StudyLess</h4>
                <p class="education-section__card-time lng-stydyless-date-place">September 2023 -  January 2024   |   Ukraine</p>
                <span class="education-section__card-link" title="The training is still in progress">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </span>                      
            </li>
            <li class="education-section__card" data-scroll>
                <h3 class="education-section__card-title lng-goit">Full Stack Developer</h3>
                <h4 class="education-section__card-school">GoIT</h4>
                <p class="education-section__card-time lng-goit-date-place">Mai 2023 - December 2023   |   Ukraine</p>
                <span class="education-section__card-link" title="The training is still in progress">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </span>                      
            </li>
            <li class="education-section__card" data-scroll>
                <h3 class="education-section__card-title">JavaScript + React</h3>
                <h4 class="education-section__card-school">Udemy</h4>
                <p class="education-section__card-time lng-udemy-date-place">April 2023 - December 2023   |   Ukraine</p>
                <span class="education-section__card-link" title="The training is still in progress">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </span>                     
            </li>
            <li class="education-section__card" data-scroll>
                <h3 class="education-section__card-title lng-campster">Englische Sprache - Niveau B2</h3>
                <h4 class="education-section__card-school">Campster</h4>
                <p class="education-section__card-time lng-campster-date-place">June 2023 - October 2023   |   Ukraine</p>
                <a class="education-section__card-link" href="https://drive.google.com/file/d/1gsg7ZZUrlYOSdw8NnhKUU_yF1XfUc7Hw/view?usp=sharing" target="_blank" title="Certificate">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </a>                     
            </li>
            <li class="education-section__card" data-scroll>
                <h3 class="education-section__card-title lng-basics">Basics of Web UI Development</h3>
                <h4 class="education-section__card-school">Lviv IT School</h4>
                <p class="education-section__card-time lng-basics-date-place">December 2022   |   Ukraine</p>
                <a class="education-section__card-link" href="https://drive.google.com/file/d/11eW9LsKU6wtFX97fiyB3O_NSxs8ptIxj/view?usp=sharing" target="_blank" title="Certificate">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </a>                       
            </li>
            <li class="education-section__card" data-scroll>
                <h3 class="education-section__card-title lng-fed">Frontend Developer</h3>
                <h4 class="education-section__card-school">Peace-IT School</h4>
                <p class="education-section__card-time lng-fed-date-place">December 2020 - April 2021   |   Ukraine</p> 
                <span class="education-section__card-link" title="No certificate">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </span>                        
            </li>
            <li class="education-section__card" data-scroll>
                <h3 class="education-section__card-title lng-master">Master of Secondary Education (German, English)</h3>
                <h4 class="education-section__card-school lng-vspu-ed">VSPU named after Mykhailo Kotsiubynsky</h4>
                <p class="education-section__card-time lng-master-date-place">December 2019   |   Ukraine</p>
                <a class="education-section__card-link" href="https://drive.google.com/file/d/1KpgWj8_Dusm_R9Y96reQcL4Lg4V9a8d0/view?usp=sharing" target="_blank" title="Diploma">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </a>                       
            </li>
        </ul>

    
    </div>
</section>
