<section class="education-section section" id="education">
    <div class="education-section__container container">
        <h2 class="education-section__title lng-education main-content-title">Education</h2>
        <ul class="education-section__list">
            <li class="education-section__card">
                <h3 class="education-section__card-title lng-goit">Full Stack Developer</h3>
                <h4 class="education-section__card-school">GoIT</h4>
                <p class="education-section__card-time lng-goit-date-place">Mai 2023 - up to now   |   Ukraine</p>
                <a class="education-section__card-link" href="#" target="_blank" title="Certificate">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </a>                      
            </li>
            <li class="education-section__card">
                <h3 class="education-section__card-title">JavaScript + React</h3>
                <h4 class="education-section__card-school">Udemy</h4>
                <p class="education-section__card-time lng-udemy-date-place">April 2023 - up to now   |   Ukraine</p>
                <a class="education-section__card-link" href="#" target="_blank" title="Certificate">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </a>                     
            </li>
            <li class="education-section__card">
                <h3 class="education-section__card-title lng-basics">Basics of Web UI Development</h3>
                <h4 class="education-section__card-school">Lviv IT School</h4>
                <p class="education-section__card-time lng-basics-date-place">December 2022   |   Ukraine</p>
                <a class="education-section__card-link" href="#" target="_blank" title="Certificate">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </a>                       
            </li>
            <li class="education-section__card">
                <h3 class="education-section__card-title lng-fed">Frontend Developer</h3>
                <h4 class="education-section__card-school">Peace-IT School</h4>
                <p class="education-section__card-time lng-fed-date-place">December 2020 - April 2021   |   Ukraine</p> 
                <a class="education-section__card-link" href="#" target="_blank" title="Certificate">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </a>                        
            </li>
            <li class="education-section__card">
                <h3 class="education-section__card-title lng-master">Master of Secondary Education (German, English)</h3>
                <h4 class="education-section__card-school lng-vspu-ed">VSPU named after Mykhailo Kotsiubynsky</h4>
                <p class="education-section__card-time lng-master-date-place">December 2019   |   Ukraine</p>
                <a class="education-section__card-link" href="#" target="_blank" title="Diploma">
                    <svg class="education-section__card-icon" width="64" height="64">
                        <use href="./images/icons.svg#certificate"></use>
                    </svg>
                </a>                       
            </li>
        </ul>

    
    </div>
</section>
