<footer class="footer" id="contacts">
    <div class="footer__container container">
        <div class="footer__wrapper">
            <h2 class="footer__title lng-contacts">Contacts</h2>
            <address class="footer__contact-item">
                <svg class="footer__contact-item-icon" width="32" height="32">
                    <use href="./images/icons.svg#user-email"></use>
                </svg>
                <a class="footer__contact-item-link" href="mailto:yuliialiubenka@gmail.com">yuliialiubenka@gmail.com</a>
            </address>
            <address class="footer__contact-item">
                <svg class="footer__contact-item-icon" width="32" height="32">
                    <use href="./images/icons.svg#user-phone"></use>
                </svg>
                <a class="footer__contact-item-link" href="tel:+380980271641">+380980271641</a>
            </address>
            <address class="footer__contact-item">
                <svg class="footer__contact-item-icon" width="32" height="32">
                    <use href="./images/icons.svg#telegram"></use>
                </svg>
                <a class="footer__contact-item-link" href="https://t.me/lia_milovat">Telegram</a>
            </address>
            <address class="footer__contact-item">
                <svg class="footer__contact-item-icon linkedin" width="32" height="32">
                    <use href="./images/icons.svg#linkedin"></use>
                </svg>
                <a class="footer__contact-item-link" href="https://www.linkedin.com/in/yuliia-liubenka-koliesnik/" target="_blank">LinkedIn</a>
            </address>
            <address class="footer__contact-item">
                <svg class="footer__contact-item-icon" width="32" height="32">
                    <use href="./images/icons.svg#github"></use>
                </svg>
                <a class="footer__contact-item-link" href="https://github.com/yuliialiubenka">GitHub</a>
            </address>
        </div>
        <!-- <form action="#" id="contactForm" class="footer__contact-form">
            <h2 class="footer__contact-form-title">Contact form</h2>
            <div class="form-group">
                <label for="contactName">Your Name</label>
                <input type="text" name="name" class="footer__contact-form-input _req" id="contactName" placeholder="Your Name*">
            </div>
            <div class="form-group">
                <label for="contactEmail">Your Email</label>
                <input type="email" name="email" class="footer__contact-form-input _req _email" id="contactEmail" placeholder="Your Email*">
            </div>
            <div class="form-group">
                <label for="contactMessage">Your Message</label>
                <textarea class="footer__contact-form-textarea" name="message" id="contactMessage" placeholder="Your Message*" rows="5" minlength="10"></textarea>
            </div>
            <div class="form-send">
                <button type="submit" class="">Send Message</button>
            </div>

        </form> -->
    </div>
</footer>