<header class="header">
    <div class="header__container container">
        <nav id="navbar" class="header__navbar ">
            <a class="header__logo" href="#"><img src="./images/logo.png" alt="Logo" width="80"></a>
            <ul class="header__nav nav nav-pills">
                <li class="header__nav-item nav-item">
                    <a class="header__nav-link nav-link" href="#about" title="About me">
                        <svg class="header__nav-icon" width="40" height="40">
                            <use href="./images/icons.svg#about"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__nav-item nav-item">
                    <a class="header__nav-link nav-link" href="#education" title="Education">
                        <svg class="header__nav-icon" width="40" height="40">
                            <use href="./images/icons.svg#education"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__nav-item nav-item">
                    <a class="header__nav-link nav-link" href="#skills" title="Skills">
                        <svg class="header__nav-icon" width="40" height="40">
                            <use href="./images/icons.svg#skills"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__nav-item nav-item">
                    <a class="header__nav-link nav-link" href="#workExperience" title="Work experience">
                        <svg class="header__nav-icon" width="40" height="40">
                            <use href="./images/icons.svg#work-experience"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__nav-item nav-item">
                    <a class="header__nav-link nav-link" href="#projects" title="Projects">
                        <svg class="header__nav-icon" width="40" height="40">
                            <use href="./images/icons.svg#projects"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__nav-item nav-item">
                    <a class="header__nav-link nav-link" href="#contacts" title="Contacts">
                        <svg class="header__nav-icon" width="40" height="40">
                            <use href="./images/icons.svg#contacts"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <ul class="header__change-lang">
                <li class="header__change-lang-item"><button class="lang-button" type="button" value="de">DE</button>|</li>
                <li class="header__change-lang-item"><button class="lang-button" type="button" value="en">EN</button>|</li>
                <li class="header__change-lang-item"><button class="lang-button" type="button" value="ua">UA</button></li>
            </ul>
        </nav>
    </div>
</header>
  