<section class="work-experience-section section" id="workExperience">
    <div class="work-experience-section__container container">
        <h3 class="lng-work-experience main-content-title">Work Experience</h3>
            <!--Company 6-->
            <div class="sixth-company"> 
                <div class="titles-wrapper">
                    <h4 class="lng-jfd">Junior Frontend Developer </h4><h4 class="orange-title">WaveAccess</h4>
                </div>
                <p class="lng-jfd-date-place time">July 2021 - April 2023   |   Ukraine</p>
                <ul>
                    <li class="lng-jfd-task-1 task-desc">Writing, testing, refining code and rewriting it as necessary.</li>
                    <li class="lng-jfd-task-2 task-desc">Communicating with any programmers involved in the project.</li>
                    <li class="lng-jfd-task-3 task-desc">Working closely with other staff, such as project managers, graphic artists, UX designers, sales and marketing professionals.</li>
                    <li class="lng-jfd-task-4 task-desc">Updating technical knowledge and skills by attending in-house and external courses.
                    </li>
                </ul>
            </div>
            <!--Company 5-->
            <div class="fourth-company">
                <div class="titles-wrapper">
                    <h4 class="lng-gtu">German Teacher </h4><h4 class="lng-vspu orange-title">VSPU named after Mykhailo Kotsiubynsky</h4>                                
                </div>
                <p class="lng-gtu-date-place time">February 2020 - June 2021   |   Ukraine</p>
                <ul>
                    <li class="lng-gtu-task-1 task-desc">Preparing lesson plans and delivering lessons.</li>
                    <li class="lng-gtu-task-2 task-desc">Helping students improve their German language skills.</li>
                    <li class="lng-gtu-task-3 task-desc">Evaluating student work and maintaining records.</li>
                    <li class="lng-gtu-task-4 task-desc">Writing and publishing scientific reports.
                    </li>
                    <li class="lng-gtu-task-5 task-desc">Preparing required reports.</li>
                </ul>
            </div>
            <!--Company 4-->
            <div class="fourth-company">
                <div class="titles-wrapper">
                    <h4 class="lng-gts">German Teacher </h4><h4 class="lng-gymnasium orange-title">Gymnasium №2 in Kalynivka</h4>                            
                </div>
                <p class="lng-gts-date-place time">September 2019 - June 2021   |   Ukraine</p>
                <ul>
                    <li class="lng-gts-task-1 task-desc">Preparing lesson plans and delivering lessons.</li>
                    <li class="lng-gts-task-2 task-desc">Encouraging students to communicate in German.</li>
                    <li class="lng-gts-task-3 task-desc">Assigning homework, administering tests.</li>
                    <li class="lng-gts-task-4 task-desc">Observing and evaluating student's performance.</li>
                </ul>
            </div>
            <!--Company 3-->
            <div class="third-company">
                <div class="titles-wrapper">
                    <h4 class="lng-sha">Shop Assistant </h4><h4 class="lng-stolz orange-title">Stolz Altenkirchen</h4>                            
                </div>
                <p class="lng-sha-date-place time">July 2019 - August 2019   |   Germany</p>
                <ul>
                    <li class="lng-sha-task-1 task-desc">Assisting shoppers to find the goods and products they are looking for.</li>
                    <li class="lng-sha-task-2 task-desc">Giving advice and guidance on product selection to customers.</li>
                    <li class="lng-sha-task-3 task-desc">Attaching price tags to merchandise on the shop floor.</li>
                    <li class="lng-sha-task-4 task-desc">Keeping the store tidy and clean.</li>
                </ul>
            </div>
            <!--Company 2-->
            <div class="second-company">
                <div class="titles-wrapper">
                    <h4 class="lng-cbcn">Сashier </h4><h4 class="lng-nowak orange-title">Bakery & Сonfectionery Nowak</h4>                            
                </div>
                <p class="lng-cbcn-date-place time">June 2017 - August 2017   |   Germany</p>
                <ul>
                    <li class="lng-cbcn-task-1 task-desc">Dealing with customers.</li>
                    <li class="lng-cbcn-task-2 task-desc">Helping them choose bakery products.</li>
                    <li class="lng-cbcn-task-3 task-desc">Packing purchased items.</li>
                </ul>
            </div>
            <!--Company 1-->
            <div class="first-company">
                <div class="titles-wrapper">
                    <h4 class="lng-cmcd">Сashier </h4><h4 class="lng-mcdonalds orange-title">McDonald's</h4>                            
                </div>
                <p class="lng-cmcd-date-place time">July 2016 - August 2016   |   Germany</p>
                <ul>
                    <li class="lng-cmcd-task-1 task-desc">Taking customer orders.</li>
                    <li class="lng-cmcd-task-2 task-desc">Preparing menu items.</li>
                    <li class="lng-cmcd-task-3 task-desc">Displaying friendly attitudes at all times.</li>
                </ul>
            </div>
    </div>
</section>
