<section class="work-experience-section section" id="workExperience">
    <div class="work-experience-section__container container">
        <h2 class="work-experience-section__title lng-work-experience" data-scroll>Work Experience</h2>
        <ul class="work-experience-section__wrapper">
            <li class="work-experience-section__card" data-scroll> 
                <div class="work-experience-section__card-wrap">
                    <h3 class="work-experience-section__card-title lng-jfd" data-scroll>Junior Frontend Developer</h3>
                    <h3 class="work-experience-section__card-title" data-scroll>WaveAccess</h3>
                </div>
                <div class="work-experience-section__card-time">
                    <p class="lng-jfd-date-place">July 2021 - April 2023   |   Ukraine</p>
                </div>
                <div class="work-experience-section__card-desc">
                    <p class="lng-jfd-desc" data-scroll>
                        Working on the project myQuiz, made suggestions for improving the design, found flaws on my own initiative, fixed them and due to hard work and diligence, completed the trial period earlier than indicated. During my work, the number of bugs in the project has decreased significantly.
                    </p>
                </div>
            </li>
            <li class="work-experience-section__card" data-scroll>
                <div class="work-experience-section__card-wrap">
                    <h3 class="work-experience-section__card-title lng-gtu" data-scroll>German Teacher</h3>
                    <h3 class="work-experience-section__card-title lng-vspu" data-scroll>VSPU named after M. Kotsiubynsky</h3>                              
                </div>
                <div class="work-experience-section__card-time">
                    <p class="lng-gtu-date-place">February 2020 - June 2021   |   Ukraine</p>
                </div>
                <div class="work-experience-section__card-desc">
                    <p class="lng-gtu-desc" data-scroll>
                        Have written and published scientific reports. Several times have taken upgrade training courses and have a certificate on high-level knowledge of German. Successfully have prepared a student to study abroad, despite the fact that it was my first experience of such type of training.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
